*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #414141;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 8em 4em 8em;

}

.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    width: 100%;
    height: 6em;
    border: none;
    padding: 0 10em;
    border-radius: 20px;
}

.action-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10em;
    gap: 80em;
}

.action-bar-list {
    list-style: none;
    display: flex;
    color: white;

}
 .action-bar-list span {
     font-size: 2em;
     font-weight: bold;
     line-height: 1;
 }


